[user]
    name=Toon Nevelsteen 
    email=toon.nevelsteen@vasco.com
[alias]
	co = checkout
	fe = fetch
	br = branch
	st = status
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[color]
	ui = true
[push]
	default=upstream
[diff]
    tool = meld
[difftool "meld"]
    cmd = meld $LOCAL $REMOTE
    prompt = false
[core]
    excludesfile = ~/.gitignore
    editor=vi


